.loading {
  text-align: center;
  animation: loading 1.2s ease-in-out infinite;
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
}

@keyframes loading {
  0% {
    color: #e9e9e9;
  }
  50% {
    color: #b89b84;
  }
  100% {
    color: #e9e9e9;
  }
}
